<div fxLayout="row" fxLayoutGap="100px">
  <mat-card fxFlex="70">
    <mat-card-content>
      <div #NodesContainer id="nodes-container" fxLayout="row wrap" fxLayoutGap="10px">
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex="30">
    <mat-card-content>
      <div class="buttons-container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="30px">
        <div class="add-node" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
          <mat-form-field appearance="outline">
            <mat-label>Node</mat-label>
            <input type="number" matInput placeholder="Node" #AddNode>
          </mat-form-field>
          <button mat-raised-button color="primary"
            (click)="addNode(nodesContainerRef.nativeElement.children.length, AddNode.value)">Add</button>
        </div>
        <div class="delete-node" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
          <mat-form-field appearance="outline">
            <mat-label>Node Index</mat-label>
            <input type="number" matInput placeholder="Node Index" #DeleteNode>
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="removeNode(DeleteNode.value)">Delete</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>